<h3>Vacancy Information</h3>
<span> <button style="color: white;">
        Print Vacancy
    </button></span>
<form [formGroup]="vacancyForm" class="form-container">
    <mat-card>

        <mat-card-content>

            <!-- about vacancy -->
            <div class=" px-6 py-4 flex flex-col sm:flex-row sm:gap-2">
                <span>Company</span>
                <mat-form-field appearance="outline" style="font-size: 14px;" [style.width.%]="25">
                    <mat-select formControlName="companyId" class="black">
                        <mat-option *ngFor="let company of companyList" [value]="company.id">{{company.name}}
                        </mat-option>

                    </mat-select>
                    <mat-error>This field is required</mat-error>
                </mat-form-field>
                <span> Vacancy Name : </span>
                <mat-form-field appearance="outline" class="flex-auto" style="font-size: 14px;">
                    <input formControlName="vacancyName" matInput required>
                    <mat-error>This field is required</mat-error>
                </mat-form-field>

            </div>

            <div class="flex flex-col sm:flex-row sm:gap-2">
                <span> Address: </span>
                <mat-form-field appearance="outline" class="flex-auto" style="font-size: 14px;">
                    <input formControlName="vacancyAddress" matInput>
                    <mat-error>This field is required</mat-error>
                </mat-form-field>

                <span> Dead Line: </span>
                <mat-form-field appearance="outline" class="smallBoxClass" style="font-size: 14px;">
                    <input formControlName="deadLine" matInput>

                </mat-form-field>

                <span> Schedule : </span>
                <mat-form-field appearance="outline" class="smallBoxClass" style="font-size: 14px;">
                    <input formControlName="schedule" matInput required>
                    <mat-error>This field is required</mat-error>
                </mat-form-field>
            </div>
            <!-- categories (list in vacancy-form.component.ts) -->
            <div class="flex flex-col sm:flex-row sm:gap-4">
                <span>Category</span>
                <mat-form-field appearance="outline" class="flex-auto" style="font-size: 14px;">
                    <!-- <mat-select formControlName="category">
                        <mat-option value="Hr">ადამიანური რესურსების მართვა</mat-option>
                        <mat-option value="Admin">ადმინისტრაცია</mat-option>
                        <mat-option value="Analytics">ანალიტიკა</mat-option>
                        <mat-option value="Audit">აუდიტი</mat-option>
                        <mat-option value="BusinessManager">ბიზნესის მართვა</mat-option>
                        <mat-option value="Billing">ბილინგი</mat-option>
                    </mat-select> -->
                    <mat-select formControlName="categoryId" class="black">
                        <mat-option *ngFor="let category of dataCategory" [value]="category.id">{{category.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error>This field is required</mat-error>
                </mat-form-field>


                <span>Type</span>
                <mat-form-field appearance="outline" class="flex-auto" style="font-size: 14px;">
                    <mat-select formControlName="typeId" class="black">
                        <mat-option *ngFor="let type of typeList" [value]="type.id">{{type.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error>This field is required</mat-error>
                </mat-form-field>
            </div>
            <div>
                <span> Description: </span>
                <mat-form-field appearance="outline" [style.width.%]="90" style="font-size: 14px;">
                    <textarea formControlName="description" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="3" cdkAutosizeMaxRows="50"> </textarea>
                </mat-form-field>
            </div>
            <div>
                <span>Experience: </span>
                <mat-form-field appearance="outline" [style.width.%]="90" style="font-size: 14px;">
                    <textarea formControlName="experience" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="3" cdkAutosizeMaxRows="50"> </textarea>
                </mat-form-field>
            </div>

            <div class="flex flex-col sm:flex-row sm:gap-5">
                <span>Probationary Period: </span>
                <mat-form-field appearance="outline" [style.width.%]="10" style="font-size: 14px;">
                    <input formControlName="probationaryPeriod" matInput>
                </mat-form-field>

                <span>Education Level: </span>
                <mat-form-field appearance="outline" [style.width.%]="40" style="font-size: 14px;">
                    <mat-select formControlName="educationLevelId" class="black">
                        <mat-option *ngFor="let education of educationList" [value]="education.id">
                            {{education.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>


            </div>

            <div>

            </div>

            <div class="flex flex-col sm:flex-row sm:gap-2">
                <span>Education Sphere: </span>
                <mat-form-field appearance="outline" style="font-size: 14px;">
                    <mat-select formControlName="experienceSphereId" class="black">
                        <mat-option *ngFor="let sphere of sphereList" [value]="sphere.id">{{sphere.name}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <span> Education Sphere Comment: </span>
                <mat-form-field appearance="outline" class="flex-auto" style="font-size: 14px;">
                    <input formControlName="educationSphereComment" matInput>
                    <mat-error>This field is required</mat-error>
                </mat-form-field>

            </div>

            <div>
                <span>Salary: </span>
                <mat-form-field appearance="outline" [style.width.%]="10" style="font-size: 14px;">
                    <input formControlName="salary" matInput>
                </mat-form-field>


            </div>



        </mat-card-content>


    </mat-card>
</form>


<h3>Vacancy Language</h3>

<table mat-table [dataSource]="dataSourceLanguage">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="body">
            ID
        </th>
        <td mat-cell *matCellDef=" let language">{{language?.id}} </td>

    </ng-container>

    <ng-container matColumnDef="languages">
        <th mat-header-cell *matHeaderCellDef class="body">
            Language
        </th>
        <td mat-cell *matCellDef=" let language">{{language?.languageName}} </td>

    </ng-container>
    <ng-container matColumnDef="comment">
        <th mat-header-cell *matHeaderCellDef class="body">
            Comment
        </th>
        <td mat-cell *matCellDef=" let language">{{language?.otherLanguage}} </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let language; columns: displayedColumns;"
        [ngClass]="{'highlighted': selectedRowIndexL == language.id}" (click)="highlightL(language)"></tr>
</table>


<p>
<h3>Vacancy Program</h3>

<table mat-table [dataSource]="dataSourceProgram">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="body">
            ID
        </th>
        <td mat-cell *matCellDef=" let programData">{{programData?.id}} </td>

    </ng-container>

    <ng-container matColumnDef="programs">
        <th mat-header-cell *matHeaderCellDef class="body">
            Program
        </th>
        <td mat-cell *matCellDef=" let programData">{{programData?.programName}} </td>

    </ng-container>
    <ng-container matColumnDef="comment">
        <th mat-header-cell *matHeaderCellDef class="body">
            Comment
        </th>
        <td mat-cell *matCellDef=" let programData">{{programData?.otherProgram}} </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnToDisplay"></tr>
    <tr mat-row *matRowDef="let program; columns: columnToDisplay;"
        [ngClass]="{'highlighted': selectedRowIndex == program.id}" (click)="highlight(program)"></tr>
</table>



<p>
<h3>Vacancy Skill</h3>

<table mat-table [dataSource]="dataSourceSkill">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="body">
            ID
        </th>
        <td mat-cell *matCellDef=" let skillData">{{skillData?.id}} </td>

    </ng-container>

    <ng-container matColumnDef="skills">
        <th mat-header-cell *matHeaderCellDef class="body">
            Skill
        </th>
        <td mat-cell *matCellDef=" let skillData">{{skillData?.skillName}} </td>

    </ng-container>
    <ng-container matColumnDef="comment">
        <th mat-header-cell *matHeaderCellDef class="body">
            Comment
        </th>
        <td mat-cell *matCellDef=" let skillData">{{skillData?.otherSkill}} </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsSkill"></tr>
    <tr mat-row *matRowDef="let skill; columns: displayedColumnsSkill;"
        [ngClass]="{'highlighted': selectedRowIndexS == skill.id}" (click)="highlightS(skill)"></tr>
</table>


<h3>Vacancy Applicants</h3>

<div class="buttonDisplay">


    <span> <a mat-button class="button-2" role="button" (click)="viewDialog()">
            <mat-icon>remove_red_eye</mat-icon> View Applicant
        </a></span>
    <span> <a mat-button class="button-2" role="button" (click)="moveToShortList()">
            <mat-icon>favorite</mat-icon> Short List
        </a></span>
    <span> <a mat-button href="{{DownloadLink}}" target="_blank" class="button-2" role="button">
            <mat-icon>link</mat-icon>
            Generate Links
        </a> </span>

</div>
<table mat-table [dataSource]="dataSourceApplicant">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="body">
            ID
        </th>
        <td mat-cell *matCellDef=" let applicant">{{applicant?.id}} </td>

    </ng-container>

    <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef class="body">
            First Name
        </th>
        <td mat-cell *matCellDef=" let applicant">{{applicant?.fname}} </td>

    </ng-container>
    <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef class="body">
            Last Name
        </th>
        <td mat-cell *matCellDef=" let applicant">{{applicant?.lname}} </td>

    </ng-container>

    <ng-container matColumnDef="personalNumber">
        <th mat-header-cell *matHeaderCellDef class="body">
            Personal Number
        </th>
        <td mat-cell *matCellDef=" let applicant">{{applicant?.customerNumber}} </td>

    </ng-container>
    <ng-container matColumnDef="bDay">
        <th mat-header-cell *matHeaderCellDef class="body">
            Birth Day
        </th>
        <td mat-cell *matCellDef=" let applicant">{{applicant?.birthDate}} </td>

    </ng-container>
    <ng-container matColumnDef="mail">
        <th mat-header-cell *matHeaderCellDef class="body">
            Mail
        </th>
        <td mat-cell *matCellDef=" let applicant">{{applicant?.mail}} </td>

    </ng-container>

    <!-- <ng-container matColumnDef="additionalMail">
            <th mat-header-cell *matHeaderCellDef class="body">
                Additional Mail
            </th>
            <td mat-cell *matCellDef=" let applicant">{{applicant?.optionalMail}} </td>

        </ng-container> -->

    <ng-container matColumnDef="mobile">
        <th mat-header-cell *matHeaderCellDef class="body">
            Mobile
        </th>
        <td mat-cell *matCellDef=" let applicant">{{applicant?.phone}} </td>

    </ng-container>
    <!-- 
        <ng-container matColumnDef="additionalPhone">
            <th mat-header-cell *matHeaderCellDef class="body">
                Additional Phone
            </th>
            <td mat-cell *matCellDef=" let applicant">{{applicant?.additionalphone}} </td>

        </ng-container> -->
    <ng-container matColumnDef="applyDate">
        <th mat-header-cell *matHeaderCellDef class="body">
            Apply Date
        </th>
        <td mat-cell *matCellDef=" let applicant">{{applicant?.applyDate}} </td>

    </ng-container>
    <ng-container matColumnDef="link">
        <th mat-header-cell *matHeaderCellDef class="body">
            Applicants Link
        </th>
        <td mat-cell *matCellDef=" let applicant">
            <a href="{{ApplikantLink + applicant.randkey}}" target="_blank"><mat-icon>link</mat-icon> Profile </a>
        </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsApplicants"></tr>
    <tr mat-row *matRowDef="let applicant; columns: displayedColumnsApplicants;"
        [ngClass]="{'highlighted': selectedRowIndexApp == applicant.id}" (click)="highlightApp(applicant)"></tr>
</table>


<p>
<h3>Short List</h3>

<div class="buttonDisplay">


    <!-- <span> <button class="button-2" role="button">
            <mat-icon>edit</mat-icon> Edit Applicant
        </button></span> -->


    <span> <button class="button-2" role="button" (click)="removeFromShortList()">
            <mat-icon>delete_forever</mat-icon> Remove
        </button></span>

</div>
<table mat-table [dataSource]="dataSourceShortListApplicant">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="body">
            ID
        </th>
        <td mat-cell *matCellDef=" let applicant">{{applicant?.id}} </td>

    </ng-container>

    <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef class="body">
            First Name
        </th>
        <td mat-cell *matCellDef=" let applicant">{{applicant?.fname}} </td>

    </ng-container>
    <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef class="body">
            Last Name
        </th>
        <td mat-cell *matCellDef=" let applicant">{{applicant?.lname}} </td>

    </ng-container>

    <ng-container matColumnDef="personalNumber">
        <th mat-header-cell *matHeaderCellDef class="body">
            Personal Number
        </th>
        <td mat-cell *matCellDef=" let applicant">{{applicant?.customerNumber}} </td>

    </ng-container>
    <ng-container matColumnDef="bDay">
        <th mat-header-cell *matHeaderCellDef class="body">
            Birth Day
        </th>
        <td mat-cell *matCellDef=" let applicant">{{applicant?.birthDate}} </td>

    </ng-container>
    <ng-container matColumnDef="mail">
        <th mat-header-cell *matHeaderCellDef class="body">
            Mail
        </th>
        <td mat-cell *matCellDef=" let applicant">{{applicant?.mail}} </td>

    </ng-container>

    <!-- <ng-container matColumnDef="additionalMail">
        <th mat-header-cell *matHeaderCellDef class="body">
            Additional Mail
        </th>
        <td mat-cell *matCellDef=" let applicant">{{applicant?.optionalMail}} </td>

    </ng-container> -->

    <ng-container matColumnDef="mobile">
        <th mat-header-cell *matHeaderCellDef class="body">
            Mobile
        </th>
        <td mat-cell *matCellDef=" let applicant">{{applicant?.phone}} </td>

    </ng-container>
    <!-- 
    <ng-container matColumnDef="additionalPhone">
        <th mat-header-cell *matHeaderCellDef class="body">
            Additional Phone
        </th>
        <td mat-cell *matCellDef=" let applicant">{{applicant?.additionalphone}} </td>

    </ng-container> -->
    <ng-container matColumnDef="applyDate">
        <th mat-header-cell *matHeaderCellDef class="body">
            Apply Date
        </th>
        <td mat-cell *matCellDef=" let applicant">{{applicant?.applyDate}} </td>

    </ng-container>
    <ng-container matColumnDef="link">
        <th mat-header-cell *matHeaderCellDef class="body">
            Applicants Link
        </th>
        <td mat-cell *matCellDef=" let applicant">
            <a href="{{ApplikantLink + applicant.randkey}}" target="_blank">Profile </a>
        </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsShortList"></tr>
    <tr mat-row *matRowDef="let applicantS; columns: displayedColumnsShortList;"
        [ngClass]="{'highlighted': selectedRowIndexAppS == applicantS.id}" (click)="highlightAppS(applicantS)">
    </tr>
</table>
<button class="button-7  displayEnd" role="button" (click)="closeForm()">Close</button>