<table mat-table class="full-width-table mat-elevation-z8 " [dataSource]="dataSource" matSort cdkDropListGroup>


    <ng-container matColumnDef="grouped">
        <th mat-header-cell *matHeaderCellDef colspan="10"> <button class="button-7" role="button"
                (click)="openDialog()">
                <mat-icon [ngStyle]=" {'color':'rgb(132, 139, 238)'}">assignment</mat-icon>
                New Vacancy
            </button>
        </th>
    </ng-container>



    <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef colspan="10">
            <div class="buttonDisplay">
                <span> <button class="button-7" role="button" [routerLink]="['/pages/allVacancies']">ALL</button></span>
                <span> <button class="button-7" role="button" (click)="getAllNewVacancies(0,80)"
                        [routerLink]="['/pages/newVacancies']">New</button></span>
                <span> <button class="button-7" role="button"
                        [routerLink]="['/pages/activeVacancies']">Active</button></span>
                <span> <button class="button-7" role="button"
                        [routerLink]="['/pages/cancelledVacancies']">Cancelled</button></span>
                <span> <button class="button-7" role="button"
                        [routerLink]="['/pages/completedVacancies']">Completed</button></span>
                <span> <button class="button-7" role="button"
                        [routerLink]="['/pages/stoppedVacancies']">Stopped</button></span>
                <span>
                    <mat-form-field appearance="outline" class="filterClass">
                        <input matInput placeholder="search" autocomplete="off" (keyup)="filterData($event)">
                    </mat-form-field>
                </span>
            </div>


        </th>

    </ng-container>





    <ng-container matColumnDef="edit">

        <th mat-header-cell *matHeaderCellDef colspan="10">
            <div class="buttonDisplay">
                <span> <button class="button-2" role="button" (click)="refreshButton()">
                        <mat-icon>cached</mat-icon> Refresh
                    </button></span>
                <span> <button class="button-2" role="button" (click)="editDialog(data)">
                        <mat-icon>edit</mat-icon> Edit Vacancy
                    </button></span>
                <span> <button class="button-2" role="button">
                        <mat-icon>remove_red_eye</mat-icon> View Vacancy
                    </button></span>
                <span> <button class="button-2" role="button" (click)="activeVacancy(data)">
                        <mat-icon>send</mat-icon> Active Vacancy
                    </button></span>
                <span> <button class="button-2" role="button" (click)="cancelVacancy(data)">
                        <mat-icon>cancel</mat-icon>Cancel Vacancy
                    </button></span>
                <span> <button class="button-2" role="button" (click)="deleteVacancy(data)">
                        <mat-icon>delete_forever</mat-icon> Delete Vacancy
                    </button></span>
                <span> <button class="button-2" role="button" (click)="duplicateVacancy(data)">
                        <mat-icon>file_copy</mat-icon> Duplicate Vacancy
                    </button></span>
            </div>
        </th>
    </ng-container>






    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="body">
            ID
        </th>
        <td mat-cell *matCellDef=" let vacancy">{{vacancy?.id}}


        </td>
    </ng-container>


    <ng-container matColumnDef="vacancyName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="body">
            Vacancy Name</th>
        <td mat-cell *matCellDef="let vacancy">{{vacancy?.vacancyName}}</td>
    </ng-container>


    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="body">
            Title</th>
        <td mat-cell *matCellDef="let vacancy">{{vacancy?.title}}</td>
    </ng-container>


    <ng-container matColumnDef="vacancyAddress">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="body">Location</th>
        <td mat-cell *matCellDef="let vacancy">{{vacancy?.vacancyAddress}}</td>
    </ng-container>

    <ng-container matColumnDef="deadLine">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="body">Dead Line</th>
        <td mat-cell *matCellDef="let vacancy">{{vacancy?.deadLine}}</td>
    </ng-container>


    <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="body">Category</th>
        <td mat-cell *matCellDef="let vacancy">{{vacancy?.category}}</td>
    </ng-container>



    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="body">Description</th>
        <td mat-cell *matCellDef="let vacancy">{{vacancy?.description}}</td>
    </ng-container>


    <ng-container matColumnDef="probationaryPeriod">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class=" body">Probationary Period</th>
        <td mat-cell *matCellDef="let vacancy">{{vacancy?.probationaryPeriod}}</td>
    </ng-container>


    <ng-container matColumnDef="schedule">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class=" body">Schedule</th>
        <td mat-cell *matCellDef="let vacancy;let i = index">{{vacancy?.schedule}}</td>
    </ng-container>


    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class=" body">Status</th>
        <td mat-cell *matCellDef="let vacancy">{{vacancy?.status}}


        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="groupedColumns; sticky: true"></tr>
    <tr mat-header-row *matHeaderRowDef="secondGroupedColumns; sticky: true"></tr>
    <tr mat-header-row *matHeaderRowDef="thirdGroupedColumns; sticky: true"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let vacancy; columns: displayedColumns;"
        [ngClass]="{'highlighted': selectedRowIndex == vacancy.id}" (click)="highlight(vacancy)"></tr>

</table>

<mat-paginator class="full-width-table body" #paginator [pageSize]="10" [pageSizeOptions]="[10,20,30,50]"
    aria-label="Select page">
</mat-paginator>